<div class="foods_new">
  <div class="foods_form">
    <%=form_tag("/foods/#{@expiration.id}/update") do %>
      <h2>商品選択</h2>
      <div class="pro_select">

        <select  name="id">
          <option value="<%=@expiration.id%>"><%=@expiration.name%></option>
        </select>

      </div>
      <h2>個数</h2>
      <div class="cou_select">
      <select name="count">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>個
        </div>
      <p><input type="submit" value="更新" class="createbtn"></p>
    <%end%>
  </div>
  <%=link_to"戻る","/",class:"back"%>
</div>
